# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
main

# Go
go.work
go.work.sum

# API
api/.env
api/keys/

# Web
web/node_modules/
web/dist/

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/android/
mobile/ios/

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
